{% extends "base.html" %}

{% block content %}

<!-- HERO -->
<section
    class="page-hero"
    style="--hero-image: url('../images/artificial_vs_human_brain-hero.jpg');"
>
    <h1>
        Artificial vs Human Brain
    </h1>
</section>

<!-- STRIP SECTION -->
<section class="section-strip-blue">
    <h2>Communication Between Artificial Brain and Human Brain</h2>
</section>

<section class="brain-video-section">
    <div class="brain-video-grid">

        <div class="brain-video-card">
            <h3>Video 1</h3>
            <video controls preload="metadata" playsinline>
                <source src="https://data.abhinandan.tech/brain/eeg-and-ddg/artificial-vs-human-brain/Communication_Between_Artificial_Brain_and_Human_Brain_via_DDG-_video1_2022_10_03_13_38_11.webm" type="video/webm">
            </video>
        </div>

        <div class="brain-video-card">
            <h3>Video 2</h3>
            <video controls preload="metadata" playsinline>
                <source src="https://data.abhinandan.tech/brain/eeg-and-ddg/artificial-vs-human-brain/Communication_Between_Artificial_Brain_and_Human_Brain_via_DDG__video_2_2022_10_03_14_34_07.webm" type="video/webm">
            </video>
        </div>

        <div class="brain-video-card">
            <h3>Video 3</h3>
            <video controls preload="metadata" playsinline>
                <source src="https://data.abhinandan.tech/brain/eeg-and-ddg/artificial-vs-human-brain/Communication_Between_Artificial_Brain_and_Human_Brain_via_DDG__video_3_2022_10_03_15_16_47.webm" type="video/webm">
            </video>
        </div>

        <div class="brain-video-card">
            <h3>Video 4</h3>
            <video controls preload="metadata" playsinline>
                <source src="https://data.abhinandan.tech/brain/eeg-and-ddg/artificial-vs-human-brain/Communication_Between_Artificial_Brain_and_Human_Brain_via_DDG__video_4_2022_10_03_16_11_27.webm" type="video/webm">
            </video>
        </div>

        <div class="brain-video-card">
            <h3>Video 5</h3>
            <video controls preload="metadata" playsinline>
                <source src="https://data.abhinandan.tech/brain/eeg-and-ddg/artificial-vs-human-brain/Communication_Between_Artificial_Brain_and_Human_Brain_via_DDG__Video_5_2022_10_03_16_59_55.webm" type="video/webm">
            </video>
        </div>

    </div>
</section>

<!-- FOOTER -->
<footer class="site-footer">
    <div class="footer-bottom">
        <p>
            Copyright © National Institute for Materials Science, NIMS Japan,
            and Indian Institute of Technology, IIT Mandi India 2025
        </p>
    </div>
</footer>

{% endblock %}
